<%= stylesheet_link_tag		:animations %>
<div class="wrapper" style="margin-top:0px">
        <div class="landing-header">
            <div class="container">
                <div class="motto" style="color:#B1946C;">
                    <h2 class="title-uppercase"> Need A lab machine?</h2>
                    <h3>We Can Help</h3>
                    <br />
                    <h5 class="btn" style="color:white;"> <%= link_to 'Find One Now', buildings_path%></span></h5>
					<%= image_tag "purdueTrain.jpg", :class=> "bigEntrance"%>                
				</div> 
            </div>    
        </div>



<div class="section section-grey text-center landing-section">
                <div class="container">
                    <h2>Boilermake 2015</h2>
                    <hr>
                    <div class="col-md-3">
                        <div class="team-player">
                           <%= image_tag "mikey.png", :class => "img-circle img-responsive"%> 
                            <h5>Mike Khalil </h5>
                            <p>Computer Science <br> December 2016</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                           <%= image_tag "sameet.jpg", :class => "img-circle img-responsive"%> 
                            <h5>Sameet Mohanty</h5>
                            <p>Computer Science <br> December 2016</p>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="team-player">
                           <%= image_tag "Stephen.jpg", :class => "img-circle img-responsive"%> 
                            <h5>Stephen Motherwell</h5>
                            <p>Computer Science <br> May 2016</p>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="team-player">
                           <%= image_tag "paul.jpg", :class => "img-circle img-responsive"%> 
                            <h5>Paul Heldring </h5>
                            <p>Computer Science <br> May 2017</p>
                        </div>
                    </div>
                </div>
            </div>



 <div class="section landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">Comments?</h2>
                            <form class="contact-form" id="myForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                        <input class="form-control" placeholder="Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <input class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <label>Message</label>
                                <textarea class="form-control" rows="4" placeholder="Please fix <insert broken feature>"></textarea>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
										<div id="submitMessage" class="alert alert-success" style="display: none; text-align: center; margin-top: 20px"> <strong>   Message Sent!</strong> </div>
                                        	<button type="button" class="btn btn-danger btn-block btn-lg btn-fill" href="javascript:;" onclick="alertEm();">Send Message</button>
										<script type="text/javascript">
											function alertEm(){
												document.getElementById("submitMessage").style.display = "block";
												document.getElementById("myForm").reset();
												return;
											}
										</script>                                    
									</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>


