<% Computer.updateComputers %>
<% Machine.updateMachines %>
 <div class="container" >
 <h5> <%= link_to 'home', controller: 'home' %> </h5> 
 
<h3>Lawson</h3> 
<table class="table table-hover md-col-6">
  <tr>
    <th style="text-align: center;">Room Number</th>
    <th style="text-align: center;">Total Computers</th> 
    <th style="text-align: center;"> Computers Used</th> 
    <th style="text-align: center;">Computers Free</th> 
    <th> </th> 
  </tr>

  <% @lawsonComputers.each do |lab| %>
    <% if lab.numComputers  == lab.numUsedComputers %> 
      <tr class = "danger"
    <% else %>
      <tr class = "success"
    <% end %>
    <tr style="text-align: center;" > 
      <td><%= lab.roomNumber %></td>
      <td><%= lab.numComputers %></td>
      <td><%= lab.numUsedComputers %></td> 
      <td><%= lab.numComputers - lab.numUsedComputers %></td> 
      <td> <%= link_to 'Show computers', lab_path(lab.id) %></td>
      
    </tr>
  <% end %>
</table>
<h3>Haas</h3> 
<table class="table table-hover md-col-6">
  <tr>
    <th style="text-align: center;">Room Number</th>
    <th style="text-align: center;">Total Computers</th> 
    <th style="text-align: center;"> Computers Used</th> 
    <th style="text-align: center;">Computers Free</th> 
    <th> </th> 
  </tr>

  <% @haasComputers.each do |lab| %>
    <% if lab.numComputers  == lab.numUsedComputers %> 
      <tr class = "danger"
    <% else %>
      <tr class = "success"
    <% end %>

    <tr style="text-align: center;">
      <td><%= lab.roomNumber %></td>
      <td><%= lab.numComputers %></td>
      <td><%= lab.numUsedComputers %></td> 
      <td><%= lab.numComputers - lab.numUsedComputers %></td> 
      <td> <%= link_to 'Show computers', lab_path(lab.id) %></td>
      </div>     
  <% end %>
</table>

      <div style="text-align: center;"> 
      <h5>Labs full or want to work remotely? You can ssh into: </h5> 
      <table class="table"> 
      <tr> 
        <th style="text-align: center;">Host</th> 
        <th style="text-align: center;">Current CPU usage</th> 
        <th style="text-align: center;">Number of Users</th> 
        <th style="text-align: center;">Latency (Avg: 70 ms)</th>  
      </tr>
      <% @machines.each do |machine| %> 
      <tr> 
        <td><%= machine.name %>.cs.purdue.edu</td> 
        <td><%= machine.cpuPercent %>%</td> 
        <td><%= machine.numUsers %></td> 
        <td><%= machine.latencies %> ms</td>

      </tr> 
        
      <% end %> 
    </table> 
  </div> 
</div> 

