
 <%= link_to 'home', controller: 'home' %> 
 
<h3>Lawson</h3> 
<table class="table table-hover md-col-6">
  <tr>
    <th style="text-align: center;">Room Number</th>
    <th style="text-align: center;">Total Computers</th> 
    <th style="text-align: center;"> Computers Used</th> 
    <th style="text-align: center;">Computers Free</th> 
    <th> </th> 
  </tr>

  <% @lawsonComputers.each do |lab| %>
    <tr style="text-align: center;" > 
      <td><%= lab.roomNumber %></td>
      <td><%= lab.numComputers %></td>
      <td><%= lab.numUsedComputers %></td> 
      <td><%= lab.numComputers - lab.numUsedComputers %></td> 
      <td> <%= link_to 'Show computers', lab_path(lab.id) %></td>
      
    </tr>
  <% end %>
</table>
<h3>Haas</h3> 
<table class="table table-hover md-col-6">
  <tr>
    <th style="text-align: center;">Room Number</th>
    <th style="text-align: center;">Total Computers</th> 
    <th style="text-align: center;"> Computers Used</th> 
    <th style="text-align: center;">Computers Free</th> 
    <th> </th> 
  </tr>

  <% @haasComputers.each do |lab| %>
    <tr style="text-align: center;">
      <td><%= lab.roomNumber %></td>
      <td><%= lab.numComputers %></td>
      <td><%= lab.numUsedComputers %></td> 
      <td><%= lab.numComputers - lab.numUsedComputers %></td> 
      <td> <%= link_to 'Show computers', lab_path(lab.id) %></td>
      
    </tr>
  <% end %>
</table>

