
 <%= link_to 'home', controller: 'home' %> 
 
<h3>Lawson</h3> 
<table class="table table-hover md-col-6">
  <tr>
    <th>Room Number</th>
    <th>Total Computers</th> 
    <th>Computers Used</th> 
    <th> </th> 
  </tr>

  <% @lawsonComputers.each do |lab| %>
    <tr>
      <td><%= lab.roomNumber %></td>
      <td><%= lab.numComputers %></td>
      <td><%= lab.numUsedComputers %></td> 
      <td> <%= link_to 'Show computers', lab_path(lab.id) %></td>
      
    </tr>
  <% end %>
</table>
<h3>Haas</h3> 
<table class="table table-hover md-col-6">
  <tr>
    <th>Room Number</th>
    <th>Total Computer</th> 
    <th>Computers Used</th> 
    <th> </th> 
  </tr>

  <% @haasComputers.each do |lab| %>
    <tr>
      <td><%= lab.roomNumber %></td>
      <td><%= lab.numComputers %></td>
      <td><%= lab.numUsedComputers %></td> 
      <td> <%= link_to 'Show computers', lab_path(lab.id) %></td>
      
    </tr>
  <% end %>
</table>

