<h1>Listing Buildings</h1>
 <%= link_to 'home', controller: 'home' %> 
<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @machines. each do |machine| %> 
	<tr> 
		<td><%= machine.name %> </td> 
		<td><%= machine.cpuPercent %>% </td> 
		<td><%= machine.numUsers %> </td> 
		<td><%= machine.name %> </td> 
		<td><%= machine.latencies %> </td>

	</tr>
  <% end %>
  
  <% @buildings.each do |building| %>
    <tr>
      <td><%= building.name %></td>
      <td> <%= link_to 'Show lab rooms', building_path(building.id) %></td>
    </tr>
  <% end %>
</table>


