<div class="container">
<p>
  <%= link_to 'Back', buildings_path%>
  <strong>Name:</strong>
  <p>Room Number : <%= @lab.roomNumber %></p>
  <p> Lab ID : <%= @lab.id %> </p>
  <p> Lab Building: <%= @lab.building %> </p>
  <p> Num Computers Used: <%= @lab.numUsedComputers %> </p>
</p>

<% @computers.each do |computer| %>
   
      <div class="col-md-4" style="text-align: center;">
      <% if computer.used? %>
        <i style="color: red;" class="fa fa-desktop fa-5x"></i><br>
      <% else %>
         <i style="color: green;" class="fa fa-desktop fa-5x"></i><br>
      <% end %>
        <p><%= computer.name %></p>
      </div>
  <!-- GUSTAVO DID THIS -->
  <% end %>

  
</div>