<div class="container" style="text-align: center;">

  <%= link_to 'Back', buildings_path%>
  <h5>Building: <%= @lab.building %> </h5>
  <h5>Lab : <%= @lab.roomNumber %></h5>
  <h5> Free Computers <%= @lab.numComputers - @lab.numUsedComputers %> </h5>



<% @computers.each do |computer| %>
   
      <div class="col-md-4" style="text-align: center;">
      <% if computer.used? %>
        <i style="color: red;" class="fa fa-desktop fa-5x"></i><br>
      <% else %>
         <i style="color: green;" class="fa fa-desktop fa-5x"></i><br>
      <% end %>
        <p style="margin-left: 60px;"><%=computer.name %></p>
      </div>
  <!-- GUSTAVO DID THIS -->
  <% end %>

  
</div>