<p>
  <strong>Name:</strong>
  <p>Room Number : <%= @lab.roomNumber %></p>
  <p> Lab ID : <%= @lab.id %> </p>
  <p> Lab Building: <%= @lab.building %> </p>
  <p> Num Computers Used: <%= @lab.numUsedComputers %> </p>
</p>



<% @computers.each do |computer| %>
      <% if computer.used? %>
        <%= image_tag "paul.jpg", :class => "img-circle img-responsive"%>
      <% end %>
      <tr>
      <br>
      <td><%= computer.cpuUsage%></td>
      <br>
      <td><%= computer.labRoom %></td>
      <br>
      <td><%= computer.name %></td>
      <br>
      <td><%= computer.used %></td>
      <br>
      <td> <%= computer.id%></td>
    </tr>
    <hr>
    <br><br>
    <br>
  <% end %>
<br> 
  <%= link_to 'home', controller: 'home' %> 
