<% Computer.updateComputers %>
<% Machine.updateMachines %>
<div class="container" >
<h5><%= link_to 'Back', buildings_path%></h5> 
  <div style="text-align: center;"> 
    <div style="margin-left: 60px;"> 
      <h5><%= @lab.building %> <%= @lab.roomNumber %></h5>
      <h5> Free Computers <%= @lab.numComputers - @lab.numUsedComputers %> </h5>
    </div> 


<% @computers.each do |computer| %>
   
      <div class="col-md-4" style="text-align: center;">
      <% if computer.used? %>
        <i style="color: red;" class="fa fa-desktop fa-5x"></i><br>
      <% else %>
         <i style="color: green;" class="fa fa-desktop fa-5x"></i><br>
      <% end %>
        <p style="margin-left: 60px;"><%=computer.name %></p>
      </div>
  <!-- GUSTAVO DID THIS -->
  <% end %>


  </div> 

</div>

<div class="container" style="text-align: center;"> 
      <h5>Labs full or want to work remotely? You can ssh into: </h5> 
      <table class="table"> 
      <tr> 
        <th style="text-align: center;">Host</th> 
        <th style="text-align: center;">Current CPU usage</th> 
        <th style="text-align: center;">Number of Users</th> 
        <th style="text-align: center;">Latency (Avg: 70 ms)</th>  
      </tr>
      <% @machines.each do |machine| %> 
      <tr> 
        <td><%= machine.name %>.cs.purdue.edu</td> 
        <td><%= machine.cpuPercent %>%</td> 
        <td><%= machine.numUsers %></td> 
        <td><%= machine.latencies %> ms</td>

      </tr> 
        
      <% end %> 
    </table> 
</div> 